@color-base:#538bfa;

@color1: darken(hsl(hue(@color-base), 45%, 96%), 90%);
@color2: darken(hsl(hue(@color-base), 45%, 96%), 85%);
@color3: darken(hsl(hue(@color-base), 45%, 96%), 75%);
@color4: darken(@color-base, 3%);
@color5: darken(hsl(hue(@color-base), 45%, 96%), 10%);
@color6: hsl(hue(@color-base), 43%, 96%);
@color7: hsl(hue(@color-base)+20, 100%, 100%);


header {
    background-color: @color-base;
}

.header_operations li,.header_operations li>a{
    color: @color7;
}

.header_operations li>a:hover{
    background-color:  @color4
}
.zz-footer {
    border-top-color: @color5
}

.side_bar {
    background-color: @color1
}

.side_bar .top_nav {
    background-color: @color2
}

.side_bar>.menu>ul>li {
    border-left-color: @color1;
    border-bottom-color:@color2;
}

.side_bar>.menu>ul>li.active {
    border-left-color: @color-base;
    border-bottom-color:@color2;
}

.side_bar ul li:hover {
    border-left-color: @color2;
    border-bottom-color: @color2;
}

.side_bar ul li a:hover {
    background-color: @color2;
}

.side_bar .J_menuItem.active {
    background-color: @color3;
}



.side_bar a {
    color: @color7
}

.zz-sidebar ul li.active {
    border-left-color: @color4
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px @color1;
    background-color: @color5;
}

.scroll::-webkit-scrollbar {
    width: 6px;
    background-color: @color5;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: @color1;
}