body {font-size: 12px;font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;}
html,body{height: 100%;}
.zz-wrapper{min-width: 800px;height: 100%;}
a:focus{outline: none;}
header{height: 60px;}
.zz-sidebar{width: 180px;position: fixed;height: 100%}
.zz-sidebar .zz-collapse{text-align: center;padding: 10px;}
.zz-sidebar .zz-menu{overflow: hidden;width: auto;}
.zz-sidebar .zz-menu-ul {padding-left: 0;margin-bottom: 0;list-style: none;}
.zz-sidebar .zz-menu-ul .zz-menu-item{position: relative;display: block;border-left-style: solid;border-left-width: 4px;}
.zz-sidebar .zz-menu-ul:not(.zz-menu-second-level)>.zz-menu-item{border-bottom-style: solid;border-bottom-width: 1px;}
.zz-sidebar .zz-menu-ul>.zz-menu-item>a {position: relative;display: block;padding: 10px 20px;text-decoration: none;}
.zz-sidebar .zz-menu-ul>.zz-menu-item>a i {font-size: 14px;margin-right: 10px;}
.zz-sidebar .zz-menu-ul>.zz-menu-item>a .arrow{float: right;margin-top: 2px;}
.zz-sidebar .zz-menu-ul>.zz-menu-item>.zz-menu-second-level>.zz-menu-item a{padding: 7px 15px 7px 52px;}

.content{margin-left: 180px;height: calc(100% - 60px);}

