.wrapper {
    min-width: 800px;
    height: 100%;
}
header {
    height: 60px;
    padding: 0 20px;
}
header:after {
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle;
}
header .header_logo {
    display: inline-block;
    vertical-align: middle;
}
.header_operations {
    float: right;
    padding-right: 30px;
    height: 100%;
}
.header_operations li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0 3px;
    line-height: 60px;
    cursor: pointer;
}
.header_operations li>a {
    display: block;
    padding: 0 15px;
}
.header_operations li>a .img_circle {
    height: 38px;
    border-radius: 5px;
}
.side_bar {
    width: 180px;
    position: fixed;
    height: 100%
}
.side_bar .top_nav {
    text-align: center;
    padding: 10px;
}
.side_bar .menu {
    overflow: hidden;
    overflow-y: auto;
    width: auto;
    height: calc(100% - 60px - 40px);
}
.side_bar ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.side_bar>.menu>ul>li {
    position: relative;
    display: block;
    border-left-style: solid;
    border-left-width: 4px;
}
.side_bar>.menu>ul>li>a.active {
    margin-left: -4px;
    padding-left: 24px;
}
.side_bar>.menu>ul>li {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.side_bar>.menu>ul>li>ul>li a {
    padding: 7px 15px 7px 52px;
}
.side_bar ul>li>a {
    position: relative;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}
.side_bar ul>li>a i {
    font-size: 14px;
    margin-right: 10px;
}
.side_bar ul>li>a .arrow {
    float: right;
    margin-top: 2px;
}
.side_bar ul>li>a .arrow {
    float: right;
    margin-top: 2px;
}
.J_mainContent {
    margin-left: 180px;
    height: calc(100% - 96px);
}
.zz-footer {
    border-top-style: solid;
    border-top-width: 1px;
    height: 36px;
    overflow: hidden;
    padding: 10px 20px;
}