@color-base:#538bfa;

@color1: darken(hsl(hue(@color-base), 45%, 96%), 90%);
@color2: darken(hsl(hue(@color-base), 45%, 96%), 85%);
@color3: darken(hsl(hue(@color-base), 45%, 96%), 75%);
@color4: darken(@color-base, 3%);
@color5: darken(hsl(hue(@color-base), 45%, 96%), 10%);
@color6: hsl(hue(@color-base), 43%, 96%);
@color7: hsl(hue(@color-base)+20, 100%, 100%);


header {
    background-color: @color-base;
}

.zz-header-operations li,.zz-header-operations li>a{
    color: @color7;
}

.zz-header-operations li>a:hover{
    background-color:  @color4
}
.zz-footer {
    border-top-color: @color5
}

.zz-sidebar {
    background-color: @color1
}

.zz-sidebar .zz-collapse {
    background-color: @color2
}

.zz-sidebar .zz-menu-ul .zz-menu-item {
    border-left-color: @color1;
    border-bottom-color:@color2;
}

.zz-sidebar .zz-menu-ul .zz-menu-item:hover {
    border-left-color: @color2;
    border-bottom-color: @color2;
}

.zz-sidebar .zz-menu-ul .zz-menu-item a:hover {
    background-color: @color2;
}

.zz-sidebar .J_menuItem.active {
    background-color: @color3;
}

.zz-menu-item.active>a {
    background-color: @color2;
}

.zz-sidebar a {
    color: @color7
}

.zz-sidebar .zz-menu-ul .zz-menu-item.active {
    border-left-color: @color4
}

.zz-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px @color1;
    background-color: @color5;
}

.zz-scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: @color5;
}

.zz-scrollbar::-webkit-scrollbar-thumb {
    background-color: @color1;
}