body {font-size: 12px;font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;}
.zz-wrapper{min-width: 800px;}
header{height: 60px;}
.zz-sidebar{width: 180px;position: fixed;height: 100%}
.zz-sidebar .zz-collapse{text-align: center;padding: 10px;}
.zz-sidebar .zz-menu{overflow: hidden;width: auto;}
.zz-sidebar .zz-menu {padding-left: 0;margin-bottom: 0;list-style: none;}
.zz-sidebar .zz-menu .zz-menu-item{position: relative;display: block;border-left-style: solid;border-left-width: 4px;}
/*.zz-sidebar .zz-menu .zz-menu-item.active{}*/
/*.zz-sidebar .zz-menu .zz-menu-item.active>a{padding-left: 16px;}*/
.zz-sidebar .zz-menu>.zz-menu-item>a {position: relative;display: block;padding: 10px 20px;text-decoration: none;}
.zz-sidebar .zz-menu>.zz-menu-item>a i {font-size: 14px;margin-right: 10px;}
.zz-sidebar .zz-menu>.zz-menu-item>a .arrow{float: right;margin-top: 2px;}
.zz-sidebar .zz-menu>.zz-menu-item>.zz-menu-second-level>.zz-menu-item a{padding: 7px 15px 7px 52px;}

