<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <!-- 引入样式 -->
    <link rel="stylesheet" href="assets/css/default.css"/>

</head>

<body>
    <div id="header">
        <h2>test</h2>
    </div>
    <div id="app">
        <el-button v-on:click="visible = true" type="danger">按钮</el-button>
        <el-dialog v-model="visible" title="Hello world">
            <p>欢迎使用 Element</p>
        </el-dialog>


        <el-radio-group v-model="radio" v-on:change="checked">
            <el-radio :label="1">备选项1</el-radio>
            <el-radio :label="2">备选项2</el-radio>
            <el-radio :label="3">备选项3</el-radio>
        </el-radio-group>

        <el-select v-model="value" placeholder="请选择" v-on:change="selected">
            <el-option v-for="item in options" ref="ff" :key="item.value+'111111'" :label="item.label" :value="item.value">
            </el-option>
        </el-select>
    </div>
    <script type="text/javascript" src="assets/js/default.min.js"></script>
   
</body>

</html>