<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../node_modules/element-ui/lib/theme-default/index.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <yt-button type="primary" @click="clickTodo">主要按钮</yt-button>
    </div>

</body>
<script src="../js/vue.min.js"></script>
<script src="../build/button.js"></script>
<script>
    var option = {
        el: "#app",
        methods: {
            clickTodo: function() {
                alert("ddd")
            }
        }
    }
    new Vue(option);
</script>

</html>