<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/module.css">
</head>

<body>
    <div id="app">
        <el-row>
            <el-col :span="24">
                <el-form :inline="true" :model="formInline" class="demo-form-inline query-form">
                    <el-form-item label="供货单位">
                        <el-input v-model="formInline.dw" placeholder="供货单位" icon="more" :on-icon-click="handleIconClick">
                        </el-input>
                    </el-form-item>
                    <el-form-item label="经手人">
                        <el-input v-model="formInline.jsr" placeholder="经手人" icon="more" :on-icon-click="handleIconClick">
                        </el-input>
                    </el-form-item>
                    <el-form-item label="部门">
                        <el-input v-model="formInline.bm" placeholder="部门" icon="more" :on-icon-click="handleIconClick">
                        </el-input>
                    </el-form-item>
                    <el-form-item label="收货仓库">
                        <el-select v-model="formInline.ck" placeholder="收货仓库">
                            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">查询</el-button>
                        <el-button type="primary" @click="getData">获取数据</el-button>
                    </el-form-item>
                </el-form>
                <el-table :data="tableData" border class="table" :height="height">
                    <el-table-column type="selection" width="55" header-align="center" align="center">
                    </el-table-column>
                    <el-table-column type="index" label="序号" width="100" header-align="center" align="center">
                    </el-table-column>
                    <el-table-column prop="MaterID" label="商品编号&名称" header-align="center">
                        <template scope="scope">
                        <el-input v-model="scope.row.MaterName" placeholder="商品编号&名称"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column prop="UnitType" label="单位" width="100" header-align="center" align="center">
                        <template scope="scope">
                        <el-select v-model="scope.row.UnitType" placeholder="请选择">
                            <el-option v-for="item in scope.row.MaterUnitList" :key="item.id" :label="item.text" :value="item.id">
                            </el-option>
                        </el-select>
                        </template>
                    </el-table-column>
                    <el-table-column prop="ConFactor" label="出入库数量" width="150" header-align="center" align="center">
                        <template scope="scope">
                        <el-input v-model="scope.row.ConFactor" placeholder="出入库数量"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column prop="PurchPrice" label="单价" width="100" header-align="center" align="center">
                        <template scope="scope">
                        <el-input v-model="scope.row.PurchPrice" placeholder="单价"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column prop="WhsAmount" label="金额" width="100" header-align="center" align="center">
                        <template scope="scope">
                        <el-input v-model="scope.row.WhsAmount" placeholder="金额"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column prop="Remark" label="备注" width="400" header-align="center" align="center">
                        <template scope="scope">
                        <el-input v-model="scope.row.Remark" placeholder="备注"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" header-align="center" align="center" width="300">
                        <template scope="scope">
                            <el-button size="small" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                            <el-button size="small" type="danger" @click="handleDelete(scope.$index, tableData)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-col>
        </el-row>
    </div>
</body>

</html>
<script src="../js/vue.min.js"></script>
<script src="../js/index.js"></script>
<script>
    var data = {
        data() {
            return {
                height: document.body.offsetHeight - 150,
                formInline: {
                    dw: '',
                    jsr: '',
                    bm: '',
                    ck: ''
                },
                options: [{
                    value: '001',
                    label: '仓库1'
                }, {
                    value: '002',
                    label: '仓库2'
                }, {
                    value: '003',
                    label: '仓库3'
                }],
                tableData: [{
                    "MaterName": "百威460ML棕瓶塑箱空瓶",
                    "MaterUnitName": "罐",
                    "MaterUnitList": [{
                        "id": 1,
                        "text": "箱"
                    }, {
                        "id": 2,
                        "text": "罐"
                    }],
                    "ConFactor": 1.000,
                    "PurchPrice": 0.500000,
                    "WhsAmount": 0.500000,
                    "MaterID": 247,
                    "UnitType": 2,
                    "Remark": null
                }, {
                    "MaterName": "百威460ML棕瓶塑箱空瓶",
                    "MaterUnitName": "罐",
                    "MaterUnitList": [{
                        "id": 1,
                        "text": "箱"
                    }, {
                        "id": 2,
                        "text": "罐"
                    }],
                    "ConFactor": 1.000,
                    "PurchPrice": 0.500000,
                    "WhsAmount": 0.500000,
                    "MaterID": 247,
                    "UnitType": 2,
                    "Remark": null
                }, {
                    "MaterName": "百威460ML棕瓶塑箱空瓶",
                    "MaterUnitName": "罐",
                    "MaterUnitList": [{
                        "id": 1,
                        "text": "箱"
                    }, {
                        "id": 2,
                        "text": "罐"
                    }],
                    "ConFactor": 1.000,
                    "PurchPrice": 0.500000,
                    "WhsAmount": 0.500000,
                    "MaterID": 247,
                    "UnitType": 2,
                    "Remark": null
                }, {
                    "MaterName": "百威460ML棕瓶塑箱空瓶",
                    "MaterUnitName": "罐",
                    "MaterUnitList": [{
                        "id": 1,
                        "text": "箱"
                    }, {
                        "id": 2,
                        "text": "罐"
                    }],
                    "ConFactor": 1.000,
                    "PurchPrice": 0.500000,
                    "WhsAmount": 0.500000,
                    "MaterID": 247,
                    "UnitType": 2,
                    "Remark": null
                }]
            }
        },
        methods: {
            onSubmit() {
                alert(JSON.stringify(this.formInline));
            },
            handleIconClick(ev) {
                console.log(ev);
            },
            handleEdit(index, row) {
                row.name = "修改后的名称";
                alert("当前行是第" + (index + 1) + "行," + row.name);
                //console.log(index, row);
            },
            handleDelete(index, row) {
                row.splice(index, 1);
            },
            getData() {
                alert(JSON.stringify(this.tableData));
            }
        }
    }
    var v = Vue.extend(data);
    new v().$mount('#app');
</script>