<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../css/bootstrap-table.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <bootstrap-table :table-param="tableParam"></bootstrap-table>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-table.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/component.js"></script>
    <script type="text/javascript">
        var testData = [{
            Name: 'Jim',
            Age: 30,
            Remark: '鸡母格林'
        }, {
            Name: 'Kate',
            Age: 28,
            Remark: '凯特'
        }, {
            Name: 'Lucy',
            Age: 20,
            Remark: '露西'
        }, {
            Name: 'Uncle Wang',
            Age: 45,
            Remark: '严厉的王老师'
        }];

        new Vue({
            el: '#app',
            data: {
                tableParam: {
                    data: testData,
                    columns: [{
                        field: 'Name',
                        title: '姓名'
                    }, {
                        field: 'Age',
                        title: '年龄'
                    }, {
                        field: 'Remark',
                        title: '备注'
                    }]
                },
            }
        });
    </script>
</body>

</html>